from django.contrib import admin
from .models import $MODELNAME

'''
class ${MODELNAME}Admin(admin.ModelAdmin):

	list_display = ('',)
	list_editable = ('',)
	list_filter = ('',)
	ordering = ('',)
	search_fields = ('',)
'''

#admin.site.register($MODELNAME, ${MODELNAME}Admin)
admin.site.register($MODELNAME)
